<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated vvt -->
      <package
            uri="http://www.example.org/vvt"
            class="de.validas.vvt.VvtPackage"
            genModel="model/vvt.genmodel"/>
   </extension>

</plugin>
