/.AbstractLinkController.java._trace
/.AbstractLinkController.xtendbin
/.ILinkController.java._trace
/.ILinkController.xtendbin
/.LinkPathController.java._trace
/.LinkPathController.xtendbin
/AbstractLinkController.java
/ILinkController.java
/LinkPathController.java
